<a id="companie"> </a>
<header>
            <h1>SC SOG TRANS SRL 
              <i class="fa fa-car"></i>
            </h1>
               
    </header>
    <nav>
            
        <label id="hamburger" for="ch-menu">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
        <li><a class="fa fa-home"><span class="casa1">Acasa</span></a></li>
            <li><a href="#">Servicii</a></li>
            <li><div>Galerie</div>
                <ul>                        
                    <li><a href="/autocar">Autocar</a></li>
                    <li><a href="microbuz.html">Microbuz</a></li>
                    <li><a href="masina-mica">8+1</a></li>
                </ul>
            </li>
            <li><a href="/angajare">Angajare</a></li>
            <li><div>Produse </div>
                <ul>                        
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=microbuz">Microbuz</a></li>
                    <li><a href="/produse?tip=autocar">Autocar</a></li>
                </ul>
            </li>
            <li><div>Contact</div>
            <ul style="font-weight: bold; font-style: italic;">
                    <li><a href="/index#item2">Orar</a></li>
                    <li><a href="/index#intrebari">Întrebări</a></li>
                </ul>
            </li>
        </ul>
    </nav>