<div id="videocl">
    <video id="videocli" controls preload="metadata" poster="/resurse/imagini/poster.jpg">
      <source src="/resurse/video/vid2.mp4" type="video/mp4">
      <source src="/resurse/video/vid1.webm" type="video/webm">
      <track src="/resurse/video/subEng.vtt" kind="subtitles" srclang="en" label="English">
      <track src="/resurse/video/subRomana.vtt" kind="subtitles" srclang="ro" label="Romanian" default>
    </video>
  </div>
