<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
      
        <title>Eroare 403 </title>  
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

<body>
	<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()--> 
	<main>
		<section>
			<h3> Eroare 403 - acces problem </h3>
		</section>
<p>Se pare ca nu ai acces. :) </p>
<img src="/resurse/img403/403.jpg" alt="Eroare 403">
	</main>
	<%- include("../fragmente/footer") %> <!-- afiseaza rezultatul functiei include()--> 
</body>


</html>
