<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
      
        <title>Eroare 404 </title>  
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

<body>
	<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()--> 
	<main>
		<section>
			<h3> Eroare 404 - page not found </h3>
		</section>
<p>Nu ai gasit ce cautai? Mai verifica o data adresa URL. :) </p>
<img src="/resurse/img404/404.png" alt="Eroare 404">
	</main>
	<%- include("../fragmente/footer") %> <!-- afiseaza rezultatul functiei include()--> 
</body>


</html>
