<footer>
 <hr>
 <section id="intrebari">
<i>Intrebari frecvente care nu sunt specificate in sectiunea <a href="#companie">Despre companie</a>:
     <span class="fa fa-spinner fa-spin fa-sm fa-fw"></span>
<span class="sr-only">Loading...</span>
</i>
<details>
  <summary>Se poate realiza si transport extern?</summary>
  <p> Da, in functie de zona, mijlocul de transport ales si perioada. </p>
 </details>
 <details>
  <summary>Exista o lista de preturi?</summary>
  <p> Fiecare transport este individual, cu cerinţe complet particulare. Costurile de transport se pot modifica rapid, în funcţie de situaţia de pe piata. </p>
 </details>
 </section>

 <p>Contact:</p>
<address>
Numar telefon: <a href="tel:0744512700">0744512700</a>.<br> 
Email: <a href="mailto:johnsmith@yahoo.com">johnsmith@yahoo.com</a>.<br> 
Adresa: Strada Primaverii, nr 25b, Bacau 

</address>
<p><small>acest site este protejat de drepturi de autor &copy;</small></p>
        <p><small>Creat la data de <time datetime="2021-03-06 16:00">06.03.2021</time>.</small></p>

<button id="myBtn"><a href="#top" title="Mergi sus" style="color: #6D99C2">&#5123</a></button>

</footer>