<link href="/resurse/css/galerie_statica.css" rel="stylesheet" type="text/css" />
<section id="galerie-statica">
  <h2>Galerie</h2>
  <div id="gr">
      <% for (let imag of locals.imagini){   %>
              <figure>
          <picture>
              <!-- il ia pe primul care se potriveste cu query-ul din media-->
              <source srcset="/<%-imag.small%>" media="(max-width:700px)"/>
              <img src="/<%-imag.normal%>" alt="text"/>
          </picture>
          <figcaption><%-imag.titlu%></figcaption>
      </figure>
      <% } %>
    </div>
  </section>
